= render "layouts/header-sub"

.container
  .inner
    .BuyItem
      .BuyItem__title
        %p 購入内容確認
      .BuyItem__product
        %p.ProductImage ここに商品画像が入ります
        .BuyItem__product__exp
          %p
            = @item[:name]
          %p
            %span
              送料込み(税込み)
            ¥
            = @item[:price]
      .BuyItem__price
        .BuyItem__price__inner
          %p 支払い金額
          %p 
            ¥
            = @item[:price]
        %p.point ポイントを使用(所持ポイント：P0)
      .BuyItem__method
        .BuyItem__method__top
          %p 支払い方法
          %a.change{:href => ""} 変更する
        %p クレジットカード
        %p
          = "***********" +  @card[:last4]
        %p 
          有効期限
          - year =  @card[:exp_year].to_s.slice(2,2)
          = @card[:exp_month].to_s + "/" + year

        - if @card[:brand] == 'Visa'
          = image_tag 'logo/logo_visa.gif', :size => '31x20'
        - elsif @card[:brand] == 'MasterCard'
          = image_tag 'logo/logo_mastercard.gif', :size => '31x20'
        - elsif @card[:brand] == 'JCB'
          = image_tag 'logo/jcb-logo.gif', :size => '26x20'
        - elsif @card[:brand] == 'American Express'
          = image_tag 'logo/amex-logo.gif', :size => '20x20'
        - elsif @card[:brand] == 'Diners Club'
          = image_tag 'logo/diners-logo.gif', :size => '28x20'
        - else @card[:brand] == 'Discover'
          = image_tag 'logo/discover-logo.gif', :size => '32x20'
        
      .BuyItem__address
        .BuyItem__address__top
          %p 配送先
          %a.change{:href => ""} 変更する
        %p 郵便番号
        %p 住所
        %p 名前
      .BuyItem__confirm
        %button.btn
          = link_to "購入する", pay_transaction_path(id: @item.id)

= render "layouts/footer-sub"
