= render "layouts/header-sub"

.new-signup
  .new-signup__content
    .new-signup__content--text
      アカウントをお持ちでない方はこちら
    .new-signup__content--btn
      = link_to "新規会員登録", new_user_registration_path, class: 'btn'

.sns-login
  .sns-content
    = link_to root_path , {class: "mail_text"} do
      .sns-content__btn1
        = icon('fab', 'facebook-square')
        Facebookでログイン
    = link_to root_path , {class: "mail_text"} do
      .sns-content__btn2
        = icon('fab', 'google')
        Googleでログイン
      
   
.login-body
  .login
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login__email
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-login"
      .login__password
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-login"
      .login__actions
        = f.submit "ログイン", class: "loginbtn"
        //= render "devise/shared/links"
      .login__forget
        = link_to "パスワードをお忘れ方", root_path(resource_name), class: "forget"

= render "layouts/footer-sub"