= render "layouts/header-main"

.wrapper
  .sell-main__container
    = form_for @item do |f|
      .sell-main__content
        .sell-main__main-title
          出品商品の登録
          = render 'layouts/error_messages', model: f.object
        .form-group
          %label.form-group__image-title
            出品画像
            %span.form-group__require
              必須
          %p.form-group__image-guide
            最大10枚までアップロードできます
          %label.form-group__image-box
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                = image_tag image.image_url, data: {index: i}, width: "100", height: "100"
            = f.fields_for :images do |i|
              .form-group__image-box__icon
                = icon('fa', 'camera')
                = f.file_field :image_url
            .form-group__image-box__text
              ドラックアンドドロップ
              %br またはクリックしてファイルをアップロード

      .sell-main__content
        .form-group
          %label
            商品名
            %span.form-group__require
              必須
          = f.text_field :name, class: "form-group__item-name", placeholder: "40文字まで"
        .form-group
          %label
            商品の説明
            %span.form-group__require
              必須
          = f.text_area :description, class: "form-group__item-description", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありませ\nん。あわせやすいのでおすすめです。"

      .sell-main__content
        %h3.sell-main__block-title
          商品の詳細
        .form-group
          %label
            カテゴリー
          %span.form-group__require
            必須
          -# .form-group__category-select
            -# 選択してください
          = f.select :category_id, 1..5, class: "form-group__category-select", placeholder: "40文字まで"
        .form-group
          %label
            ブランド
          %span.form-group__ary
            任意
          = f.text_field :brand, class: "form-group__brand-select", placeholder: "例) シャネル"
        .form-group
          %label
            商品の状態
          %span.form-group__require
            必須
          = f.select :condition, Item.conditions.keys, {prompt: "選択して下さい"}

      .sell-main__content
        %h5.sell-main__block-title
          配送について
        .form-group
          %label
            配送料の負担
          %span.form-group__require
            必須
          = f.select :delivery_fee, Item.delivery_fees.keys, {prompt: "選択して下さい"}
        .form-group
          %label
            発送元の地域
          %span.form-group__require
            必須
          = f.select :delivery_regions, Item.delivery_regions.keys, {prompt: "選択して下さい"}
        .form-group
          %label
            発送までの日数
          %span.form-group__require
            必須
          = f.select :shipping_schedule, Item.shipping_schedules.keys, {prompt: "選択して下さい"}

      .price-group
        %h7.sell-main__block-title
          価格（¥300〜9,999,999）
        .sell-price
          %label
            販売価格
          %span.form-group__require
            必須
          .sell-price-input
            %p ¥
            = f.number_field :price, class: "sell-price-select", placeholder: "0"
        .sell-price-fee
          %label
            販売手数料（10%）
            .right-bar
              ー
        .sell-price-profit
          %label
            販売利益
            .right-bar-2
              ー

      .sell-main__content
        .sell-main__btn
          = f.submit "出品する", class: "sell-main__btn--sell"
          =link_to "#", class: "sell-main__btn--save" do
            下書きに保存
          =link_to "#", class: "sell-main__btn--return" do
            もどる
            
        .terms
          %p
            禁止されている
            = link_to '行為', '#', target: 'blank', class: 'terms--links'
            および
            = link_to '出品物', '#', target: 'blank', class: 'terms--links'
            を必ずご確認ください。
            = link_to '偽ブランド品', '#', target: 'blank', class: 'terms--links'
            や
            = link_to '盗品物', '#', target: 'blank', class: 'terms--links'
            などの販売は犯罪であり、法律に
            %br
            より処罰される可能性があります。また、出品をもちまして
            = link_to '加盟店契約', '#', target: 'blank', class: 'terms--links'
            に同意したことになります。
            
= render "layouts/footer-main"