= render "layouts/header-main"
.wrapper
  .showMain
    .showContainer
      .items-contents
        .item-content
          %h2.item-content__name
            = @item.name
          .item-content__body
            %ul.item-content__body__photos
              %li.item-content__body__top-photo
                = image_tag @item.images.first.image_url, alt: "メイン画像"
              %ul.inner-photo
                %li
                  - @item.images.each do |image|
                    = image_tag image.image_url, alt: "サブ画像"
          .item-content__price
            %span
              = "¥#{@item.price}"
            .item-content__price__tax
              %span (税込)
              %span
                = @item.delivery_fee
            -# %button{type: "submit", name: "buy", class:'buy-btn'} 購入する
          .item-content__description
            = @item.description
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#" do
                      = @parent.name
                    - if @parent.id != @children.id
                      = link_to "#" do 
                        = ">" + @children.name 
                    = link_to "#" do
                      = ">" + @grandchild.name
                %tr
                  %th ブランド
                  %td
                    = link_to "#{@item.brand}", "#"
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition
                %tr
                  %th 配送料の負担
                  %td
                    = @item.delivery_fee
                %tr
                  %th 発送元の地域
                  %td
                    = link_to "#{@item.delivery_regions}", "#"
                %tr
                  %th 発送日の目安
                  %td
                    = @item.shipping_schedule
          .optional-box
            %ul
              %li#likeBtn.optionalBtn.likeBtn お気に入り 0
            %ul.optional-inner
              %li.optionalBtn
                = link_to "#" do
                  不適切な不適切な商品の通報
          - if user_signed_in?
            - if current_user.id == @item.user.id
              .item__edit
                = link_to "商品を編集する", "#", method: :get
                -# = link_to "商品を編集する", edit_item_path(@item.id), method: :get
              .item__delete
                = link_to "商品を削除する", "#", method: :item__delete
                -# = link_to "商品を削除する", item_path(@item), method: :delete, class: "item__edit--delete"
            - elsif current_user.id != @item.user.id
              .item__purchase
                = link_to "購入画面に進む", pay_deal_path(item_id: @item)
        .comments-contents
          %ul.comment-content
          %form#new-comment.new-comment{"accept-charset" => "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}
            %input{name: "authenticity_token", type: "hidden", value: "#"}
            %textarea#comment-body{name: "comment[body]", required: "required"}
            %p.noticeMsg
              相手のことを考えて丁寧なコメントを心がけましょう。
              %br>/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.comment-btn{name: "bottom", type: "submit"} コメントする
%aside.bottom-content
  .bottom-content__banner
    %h2.bottom-content__banner__title スマホでかんたん フリマアプリ
    %p.bottom-content__banner__text 今すぐ無料ダウンロード !
    .app-icon
      = link_to "#" do
        = image_tag 'icon/google-play-badge.png', alt: "画像１", class: "LinkIcon abtn"
      = link_to "#" do
        = image_tag 'icon/google-play-badge.png', alt: "画像１", class: "LinkIcon gbtn"
  .exhibitionBtn
    = link_to new_item_path do
      %span.exhibitionBtn__text 出品
      = image_tag 'icon/icon_camera.png', alt: "画像１", class: "exhibitionBtn__icon"
= render "layouts/footer-main"