!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample72a
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    -# = include_gon
    = Gon::Base.render_data
    = javascript_include_tag 'application'
    
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
  %body
    = render partial: "layouts/flash"
    = yield

